@{
    ViewBag.Title = "About Page";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<h2>@ViewBag.Title.</h2>
<h5>A bio about myself</h5>
<br />
<br />

<div class="container-fluid"  style="background-color: burlywood; padding: 20px; width:80%; border-radius: 5%">
    <div class="row ">
        <div class="col-xs-6">
            <h6>BIO</h6>
            <p>Name is Vision Shikwambane.<br />
            Student Number: 19072237.<br />
            I am a 21 years old 2nd Year Student at Universirty Of Pretoria.<br />
            Originally from Limpopo, I moved<br />
            to Pretoria 3 years ago to study Environmental Science.<br />
            I transferred to Bcom Informatics the following year. <br />
            </p>
        </div>
        <br />
        <br />
        <div class="col-xs-6">
            <img src="https://media-exp2.licdn.com/dms/image/C4D03AQEriOTV5CoSUg/profile-displayphoto-shrink_800_800/0/1650132967219?e=1660176000&v=beta&t=uFKQ6zM7REbiJ9Xk5oM5fzRlcEfvqbmNOcryZSaMUso" alt="Picture of myself">
        </div>
    </div>
</div>
