@*model IEnumerable<u19072237HW3.Models.FileModel>*@

@using u19072237HW3.Models
@model List<FileModel>

@{
    ViewBag.Title = "Files";
}

<h4>Uploaded Documents</h4><br />
<h6>The table below displays the files uploadedy the user with options of deleting and downloading.</h6><br />

<div class="container">
   
    <table class="table table-hover">
        <thead>
            <tr style="background-color:sandybrown">
                <th>File Name</th>
                <th>Download Option</th>
                <th>Delete Option</th>
            </tr>
        </thead>


        @foreach(FileModel file in Model)
            {
                <tr>
                    <td>@file.FileName</td>
                    <td>
                        <button class="btn btn-warning">
                            @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-dark">
                            @Html.ActionLink("DELETE", "DeleteFile", new { fileName = file.FileName }, new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                        </button>
                    </td>
                </tr>
            }
    </table>
</div>
